*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plain Light';
    color: #fff;
    cursor: none;
}
html,body{
    width: 100%;
    height: 100%;
}
#circle {
    position: fixed;
    z-index: 99;
    height: 2.5vw;
    width: 2.5vw;
    mix-blend-mode: difference;
    border-radius: 50%;
    border: 1px solid #ffffff81;
    transform: translate(-50%,-50%);
}
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw;
}
.line h1 {
    font-size: 6.5vw;
    line-height: 6.8vw;
    text-transform: uppercase;
    font-weight: 800;
}
.line h2 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-text-stroke: 0.5px #fff;
    font-family: 'silk serif';
    color: transparent;
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#line1-part1 h5, #line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
#line1-part1 h5{
    width: 5vw;
}
#main {
    position: relative;
    background-color: #0B0B0B;
}
#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5vw;
}
#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}
#nav-part2 h4 {
    font-size: 1vw;
    font-weight: 550;
}
.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    z-index: 999;
}
.hero:nth-child(2) {
    margin-top: 10vh;
}
.hero h1 {
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;
}
#hero3{
    display: flex;
}
#hero3 h2 {
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;
}
#hero3 h2:hover{
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
}
